.content{
  width: 100%;
  height: 100%;
 
}
.nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: chocolate;
  font-size: 30px;
  align-items: center;
  padding-left: 10px;
  box-shadow: 0 1px 10px -0px var(--amarillo);
  background: #fff;
  
}
.tituloNav{
  font-family: 'Pacifico', cursive;
}


.contentFiltros{
  height: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px auto;
 
}
.selectores{
 margin: auto;
 grid-column: 2/3;
}

.contentNotificaciones{
  /* margin-left: 650px; */
   border:1px solid #ffd200;
  border-radius: 5px;
  padding:5px;
}
.contentNotificaciones:hover{
  transition: 2s;
  background:  #ffd00088;
  
}
.botonSoli{
  font-size: 20px;
  background: transparent;
  border: none;
}
.botonSoli:hover{
  cursor: pointer;
}