body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
width:100%;
}
/* 
:root {
  overflow-y: scroll;
  scroll-behavior: smooth;
/* 
:root {
  overflow-y: scroll;
  scroll-behavior: smooth;
} */
