.home {
  background-image: url(https://i.imgur.com/sUhumGM.png);
  background-size: cover;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: initial;
  width: 100vw;
  height: 100vh;
  margin-bottom: 0px;
  text-align: center;
  position: absolute;
  margin-top: 0px;
}
.cards {
  margin: 10px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}
