.containerBackground{
  display: flex;

}

.background{
  background: url("https://i.imgur.com/VAUnZ8p.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 72vh;
  width: 100vw;
}


/* .form {
  font: 1em Helvetica;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  line-height: 1.4;
  padding: 30px 28px;
  border-radius: 3px;
  float: left;
  width: 300px;
  height: 490px;
  text-align: center;
  border-radius: 20px;
  transition: all 400ms ease;
}
 */
.containerBtns {
  margin-top: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btns {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
}

.boton:focus {
  transform: scale(1.2);
}

.boton {
  border: none;
  outline: none;
  background: none;
  overflow: hidden;
}

/* .boton:hover{
  transform:scale(1.2);
  } */

  
.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.close_modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0px 7px;
  background: none;
  color: red;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
}
.imagen {
  display: inline-block;
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}

.containerImgPerfil {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.img {
  width: auto;
  height: 100%;
  float: right;
}
.close_modal:hover {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0px 7px;
  background: none;
  color: red;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  transform: scale(1.2, 1.2);
}

.close_modal:active {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0px 7px;
  background: none;
  color: red;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  transform: scale(1, 1);
}





.modal_content_Cambiar_Foto,
.modal_content_Cambiar_Nombre_De_Usuario,
.modal_content_Cambiar_Contraseña
 {
  background-color: white;
  font: 1em Helvetica;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  line-height: 1.4;
  padding: 30px 28px;
  border-radius: 3px;
  float: left;
  width: 430px;
  /* height: 230px; */
  text-align: center;
  border-radius: 20px;
  transition: all 400ms ease;
}

.modal_content_Cambiar_Foto:hover {
  box-shadow: 0px 0px 25px rgb(255, 237, 179);
  transform: translate(-50%, -41%);
}


.modal_content_Cambiar_Nombre_De_Usuario:hover{
  box-shadow: 0px 0px 25px rgb(255, 237, 179);
  transform: translate(-50%, -41%);
}


.modal_content_Cambiar_Contraseña:hover{
  box-shadow: 0px 0px 25px rgb(255, 237, 179);
  transform: translate(-50%, -41%);
}