@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* * {
  box-sizing: border-box;
}*/
.contentCard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f;
  width:260px;
} 

.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  width: 250px;
  height:390px 
}
.card-header img {

  width: 250px;
  height: 170px;
 object-fit:fill;
 
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 7px;
  min-height: 40px;
  
}

.description{
margin-top: 0px;
margin-left: 4px;
margin-right: 4px;
margin-bottom: 4px;
font-size: 12px

}

.instructor{
 margin-top: 8px;
 margin-left: 4px;
 margin-right: 4px;
 margin-bottom: 4px;
 font-size: 12px 
}


.category {
  margin-top: 5px;
  background-color: #47bcd4;
  border-radius: 3px;
  
}

.title{
  padding-top: 5px;
  padding-bottom: 10px;
  font-weight: bold
    
}


.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}


.valoration img {
  width: 100px;
  height: 20px;
  margin-right: 10px;
}
