@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.contentCard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f;
  width: 200px;
}

.card {
  cursor: pointer;
  margin: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px var(--verde);
  overflow: hidden;
  width: 250px;
  height: 320px;
  transition: all 300ms ease;
}
.card:hover {
  box-shadow: 1px -3px 10px var(--verde);
  transform: translateY(-3%);
}

.cardHeader img {
  width: 250px;
  height: 175px;
  object-fit: fill;
}

/* .img{
  transform: translate(0px, 13px)
} */

.botoncitos{
  position: absolute;
  z-index: 2;
  transform: translate(210px, 7px)
}


.threeBtns{
  position: absolute;
  background-color: white;
  transform: translate(0px, 0px);
  width: 250px;
  height: 30px;
  z-index: 1;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
} 
.description {
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 13px;
}

.instructor {
  margin-top: 8px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 14px;
}

.categories {
  color: #fff;
  font-size: 18px;
  font-family: Roboto;
  font-weight: bold;
  background-color: var(--verde);
  padding: 7px;
  margin-top: -5px;
  margin-bottom: 0;
  transform: translate(0px, -25px)
}

.cuerpoTexto{
transform: translate(0px, -25px)
}

.valoration img {
  display: flex;
  width: 125px;
  height: 25px;
  align-content: center;
  transform: translate(65px, 10px)
}

.title {
  margin-top: 9px;
  font-size: 20px;
}

.card-body p {
  font-size: 20px;
  margin: 0 0 40px;
}

.valoration img {
  width: 125px;
  height: 25px;
  margin-right: 1px;
  margin-top: -3px;
  margin-bottom: 0px;
  align-content: center;
}

a {
  text-decoration: none;
  color: inherit
}
.icono {
  position: absolute;
  z-index: 1;
  transform: translate(222px, -5px);
  color: var(--naranja);
  border: none;
}
.icono:hover{
  cursor:pointer;
}
label{ color:grey;}
input[type = "radio"]{ display:none;}
/* label:hover{color:orange;} */
/* label:hover ~ label{color:orange;} */
input[type = "radio"]:checked ~ label{color:orange;}
.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}