.container {
  display: flex;
  justify-content: center;
}

 
.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.close_modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0px 7px;
  background: none;
  color: red;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
}
.close_modal:hover {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0px 7px;
  background: none;
  color: red;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  transform: scale(1.2, 1.2);
}

.close_modal:active {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0px 7px;
  background: none;
  color: red;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  transform: scale(1, 1);
}

.modal_content_Cambiar_Contraseña
 {
  background-color: #FFF4E5;
  font: 1em Helvetica;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  line-height: 1.4;
  padding: 20px 20px;
  border-radius: 3px;
  float: left;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  transition: all 400ms ease;
}
.modal_content_Cambiar_Contraseña:hover{
  box-shadow: 0px 0px 25px rgb(255, 237, 179);
  transform: translate(-50%, -41%);
}


.btn1,
.btn2{
  margin-top: 200px;
}

.media {
  flex-direction: column;
  flex-wrap: wrap;
  width: 70%;
  margin-bottom: 10px;
  border-bottom: 2px #00000062 solid;
  padding: 15px;
  box-shadow: 0 0px 5px -0px #00000062;
}
.user {
  display: flex;
  flex-direction: row;
}

.titleComment {
  font-size: 23px;
}
.nombre {
  margin-top: 13px;
  margin-bottom: 1px;
  margin-left: 15px;
  font-weight: bold;
  font-size: 20px;
}

.comentario {
  text-align-last: left;
  margin-top: 0px;
  margin-right: 40px;
  text-align: left;
  margin-left: 70px;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
  margin-left: 100px;
}

.botones {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: flex-end;
}
button{
  border: none;
  outline:none;
  cursor: pointer;
  background-color: white;
}
.botones a {
  margin-left: 20px;
  margin-top: 15px;

}

.buttons{
  border: none;
  outline:none;
  cursor: pointer;
  font-family: Roboto;
  font-size: 15px;
  background-color:  #FFF4E5;
}