.btn_modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}

/* .container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} */

.modal_content {
  display: flex;
  background-color: white;
  font: 1em Helvetica;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  line-height: 1.4;
  padding: 30px 28px;
  border-radius: 3px;
  float: left; 
  width: 300px;
  height: 340px;
  text-align: center;
  border-radius: 20px;
  transition: all 400ms ease;
}

.btnCrearCuenta{
margin-top: 30px;
}


#p{
  width: 190px;
  margin-left: 3px;
}

input[type="date"]{
margin-left: 26px;
}

input[type="file"]{
  margin-left: 27px;
}
.inputs{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.modal_content:hover {
  box-shadow: 0px 0px 25px rgb(255, 237, 179);
  transform: translate(-50%, -41%);
}

.modal{
  width: 100%;
  height: 100%;
  background-image: url(https://i.imgur.com/2styviT.png);
  background-size: cover;
  background-repeat: no-repeat;
}




/* .contentForm{
  background: chocolate;
  width: 400px;
  height: 500px;
  margin: auto;
  margin-top: 80px;
  border-radius: 10px;
  border: solid 1px rgb(191, 194, 33);
  box-shadow: 0px 4px 20px rgb(193, 196, 27);
}
.contentInputs{
  display: grid;
  grid-template-rows: repeat(6 ,1fr);
}
.contentPais{
  margin-top: 10px;

  grid-row: 1/2;
}

.contentRegion{
  grid-row: 2/3;
 
}

.contentFecha{
  grid-row: 3/4;
  
}
.contentFoto{
  grid-row: 4/5;
  
} 

.contentButon{
  grid-row: 5/6;
 
}
.contentCancelar{
  background: transparent;
} */