.form{
    background-color: white;
    font: 1em Helvetica;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    line-height: 1.4;
    padding: 30px 28px;
    border-radius: 3px;
    float: left;
    width: 300px;
    height: 490px;
    text-align: center;
    border-radius: 20px;
    transition: all 400ms ease;
  
  }