.contentSearch {
    display: flex;
    flex-direction: row;
    background: rgb(255, 242, 170);
    width: 280px;
    height: 40px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 4px;
  }
  .buscador{
    background:none;
    border: none;
    cursor: pointer;
  }
  .inputSearch {
    border: none;
    margin-top: 2.8px;
    background: transparent;
    width: 210px;
    height: 80%;
    font-size: 16px;
    font-family: Roboto;
  
  }
  .inputSearch::placeholder {
    color: rgb(155, 155, 155);
  }
  .inputSearch:focus {
    outline: none;
  }
  .iconoBuscar {
    font-size: 30px;
    width: 35px;
    background: transparent;
    border: none;
  }