:root{
  --amarillo: #FFD200;
  --naranja: #FF8D00;
}
.containerBackground {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.background {
/*  background: url("./landing.png");  */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;

}

.btn{
  background-color: var(--amarillo);
}

.btn:hover{
  background-color: grey;
}