html {
  box-sizing: border-box;
}

:root {
  width: 100%;
  height: 100%;
}
:root {
  --amarillo: #ffd200;
  --naranja: #ff8d00;
  --verde: #a1d1af;
}

/* .containerBackground {
  overflow: hidden;
} */


.background {
  background-image: url("https://i.imgur.com/hN4MHFu.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: initial;
  width: 100vw;
  height: 100vh;
  margin-bottom: 0px;
  text-align: center;
  position: absolute;
  margin-top: 0px;
}

.sobre{
  margin-top: 15px;
}
.about{
  font-weight: bold;
  color: #ffd200;
  font-size: 27px; 
  text-align: center;
  font-family: "Sofia";
}

.about:hover{
  color: #ff8d00 ;
}

.navigation{
  transform: translate(3px, 3px)
}

.logo {
  float: left;
  width: 60px;
  margin-left: 15px;
  margin-top: 15px;
  /* transform: translate(30px, 25px); */
  /* user-select: none; */
}



.btnCrear {
  text-decoration: none;
}

/* body.active_modal {
  overflow-y: hidden;
} */

.btn_modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.formRegistrarse{

}

.modal_content {
  background-color: white;
  font: 1em Helvetica;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  line-height: 1.4;
  padding: 50px;
  border-radius: 3px;
  float: left;
  height: 500px;
  width: 450px;
 /*  height: 400px; */
  text-align: center;
  border-radius: 20px;
  transition: all 400ms ease;
}

.modal_content:hover {
  box-shadow: 0px 0px 25px rgb(255, 237, 179);
  transform: translate(-50%, -41%);
}

.modal_content_Ingresar {
  background-color: white;
  font: 1em Helvetica;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  line-height: 1.4;
  padding: 30px 28px;
  border-radius: 3px;
  float: left;
  width: 200px;
  height: 250px;
  text-align: center;
  border-radius: 20px;
  transition: all 400ms ease;
  height: auto;
}

.modal_content_Ingresar:hover {
  box-shadow: 0px 0px 25px rgb(255, 237, 179);
  transform: translate(-50%, -41%);
 
}

.containerSelect {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 1000px;
}
input:focus {
  outline: none;
}
.close_modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0px 7px;
  background: none;
  color: red;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
}

.close_modal:hover {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0px 7px;
  background: none;
  color: red;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  transform: scale(1.2, 1.2);
}

.close_modal:active {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0px 7px;
  background: none;
  color: red;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  transform: scale(1, 1);
}

.containerBtns {
  display: flex;
  margin-top: 320px;
  margin-left: 160px;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 300px;
  font-family: 'Lucida Grande';
  height: 170px;
}

#container {
  width: 840px;
  margin: 25px auto;
}

/* .signup {
  float: left;
  width: 300px;
  padding: 30px 20px;
  background-color: white;
  text-align: center;
  border-radius: 5px 0 0 5px;
  
} */

[type="text"] {
  display: block;
  margin: 0 auto;
  width: 80%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 45px;
  line-height: 45px;
  margin-bottom: 10px;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.4);
}

[type="password"] {
  display: block;
  margin: 0 auto;
  width: 80%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 45px;
  line-height: 45px;
  margin-bottom: 10px;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.4);
}
.btnAlertt{
  background:red !important;
}
