.btn_modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
  }
  
  .modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }
  
  .overlay {
    background: rgba(49,49,49,0.8);
  }
  
  /* .container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; asd
  } */
  
  .modal_content {
    display: flex;
    background-color: white;
    font: 1em Helvetica;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    line-height: 1.4;
    padding: 30px 28px;
    border-radius: 3px;
    float: left; 
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 20px;
    transition: all 400ms ease;
  }
  
  .btnCrearCuenta{
  margin-top: 30px;
  }
  
  
  #p{
    width: 190px;
    margin-left: 3px;
  }
  
  input[type="date"]{
  margin-left: 26px;
  }
  
  input[type="file"]{
    margin-left: 27px;
    display: flex;
  }
  .inputs{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  
  
  .modal_content:hover {
    box-shadow: 0px 0px 25px rgb(255, 237, 179);
    transform: translate(-50%, -41%);
  }
  
  .modal{
    width: 100%;
    height: 100%;
    background-image: url(https://i.imgur.com/2styviT.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  
  